Source: ros-humble-webots-ros2-tests
Section: misc
Priority: optional
Maintainer: Cyberbotics <support@cyberbotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-humble-ament-copyright <!nocheck>, ros-humble-geometry-msgs <!nocheck>, ros-humble-launch <!nocheck>, ros-humble-launch-testing <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-launch-testing-ros <!nocheck>, ros-humble-rclpy, ros-humble-ros2bag, ros-humble-rosbag2-storage-default-plugins, ros-humble-sensor-msgs <!nocheck>, ros-humble-std-msgs <!nocheck>, ros-humble-std-srvs <!nocheck>, ros-humble-tf2-ros <!nocheck>, ros-humble-webots-ros2-driver, ros-humble-webots-ros2-epuck <!nocheck>, ros-humble-webots-ros2-husarion <!nocheck>, ros-humble-webots-ros2-mavic <!nocheck>, ros-humble-webots-ros2-tesla <!nocheck>, ros-humble-webots-ros2-tiago <!nocheck>, ros-humble-webots-ros2-turtlebot <!nocheck>, ros-humble-webots-ros2-universal-robot <!nocheck>, ros-humble-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/webots_ros2
Standards-Version: 3.9.2

Package: ros-humble-webots-ros2-tests
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-humble-ros-workspace
Description: System tests for `webots_ros2` packages.
